/* fonts */

@font-face {
  font-family: "LatoRegular";
  src: url("./assets/fonts/Lato-Regular.eot");
  src: url("./assets/fonts/Lato-Regular.svg#test") format('svg'),
       url("./assets/fonts/Lato-Regular.woff") format('woff'),
       url("./assets/fonts/Lato-Regular.ttf") format('truetype');
  font-style: normal;
}

@font-face {
  font-family: "LatoBlack";
  src: url("./assets/fonts/Lato-Black.eot");
  src: url("./assets/fonts/Lato-Black.svg#test") format('svg'),
       url("./assets/fonts/Lato-Black.woff") format('woff'),
       url("./assets/fonts/Lato-Black.ttf") format('truetype');
  font-style: normal;
}

@font-face {
  font-family: "LatoLight";
  src: url("./assets/fonts/Lato-Light.eot");
  src: url("./assets/fonts/Lato-Light.svg#test") format('svg'),
       url("./assets/fonts/Lato-Light.woff") format('woff'),
       url("./assets/fonts/Lato-Light.ttf") format('truetype');
  font-style: normal;
}

@font-face {
  font-family: "LatoBold";
  src: url("./assets/fonts/Lato-Bold.eot");
  src: url("./assets/fonts/Lato-Bold.svg#test") format('svg'),
       url("./assets/fonts/Lato-Bold.woff") format('woff'),
       url("./assets/fonts/Lato-Bold.ttf") format('truetype');
  font-style: normal;
}

/* main styles */

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

p, h1, h2, h3, h4, h5, h6, ul, ol {
  margin: 0;
  padding: 0;
}

/* page styles */

.wrapper {
  height: 100%;
  max-width: 1020px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

@media (max-width: 1020px) {
  .wrapper {
    width: 100%
  }
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 29px 39px 31px 40px;
  background-color: #2d303a;
  border-bottom: 6px solid #323746;
}

.header__logo {
  font: 24px "LatoBold";
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 0.1px;
  text-decoration: none;
  transition: all 0.5s;
}

.rotate-logo {
  transform: rotateX(60deg);
}

.header__logo span {
  color: #f06c64;
  margin-left: -1px;
}

.header__nav {
  display: flex;
  align-items: flex-end;

}

.header__nav li {
  margin-right: 29px;
  list-style-type: none;
  position: relative;
}

.header__nav li::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 1px;
  right: -14px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  background-color: #494e62;
}

.header__nav li:last-child {
  margin: 0;
}

.header__nav li a {
  font: 12px "LatoBold";
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  transition: all 0.3s;
}

.header__nav li a:hover {
  color: #f06c64;
}

.main__slider {
  width: 100%;
  background-color: #f06c64;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 53px 41px 58px;
  border-bottom: 6px solid #ea676b;
}

.main__slider-images {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 54px 0 55px;
}

.main__slider-images img:last-child {
  margin-top: -1px;
}
.main__slider-prev {
  margin: 3px -1px 0 1px;
  transition: all 0.3s;
}

.main__slider-prev:hover {
  transform: scale(2);
  cursor: pointer;
}
.main__slider-next {
  transform: rotate(180deg);
  margin: 0 -1px 4px 1px;
  transition: all 0.3s;
}

.main__slider-next:hover {
  transform: rotate(180deg) scale(2);
  cursor: pointer;
}

.main__services {
  max-width: 100%;
  width: 100%;
  padding: 60px 40px 66px;
  border-bottom: 6px solid #fff;
  background: url("assets/images/bg.jpg");
}
.main__services-title {
  font: 30px "LatoBlack";
  font-weight: 900;
  color: #666d89;
}

.main__services-description {
  font: 18px "LatoLight";
  color: #767e9e;
  margin-top: 19px;
  line-height: 29px;
}

.main__services-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 47px;
  padding: 0 1px;
}

.main__services-item {
  width: calc(33.3333333% - 14px);
  display: flex;
  align-items: flex-start;
}

.main__services-item:nth-child(n + 4) {
  margin-top: 36px;
}

.main__services-item:nth-child(3n+2) {
  margin-left: -1px;
}

.main__services-item-icon {
  width: 59px;
  height: 59px;
  border-radius: 50%;
  border: 2px solid #666d89;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.main__services-item-about {
  flex: 1;
}

.main__services-item-name {
  margin: 0;
  font: 18px "LatoBlack";
  line-height: 16px;
  color: #666d89;
}

.main__services-item-description {
  font: 12px "LatoRegular";
  color: #767e9e;
  line-height: 20px;
  margin-top: 11px;

}

